{
	debug
}

localhost {
    handle /static/* {
        root * /var/www/static/
        file_server
    }

	reverse_proxy invenio-rdm:5000 {
		header_down Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0"
		header_down Pragma "no-cache"
		header_down Expires "0"
	}
	encode gzip
	log {
		format console
		level DEBUG
	}
}
