{
    admin off
}

(site) {
    reverse_proxy site:3000 {
        health_uri /health
        health_interval 30s
        health_timeout 10s
        health_status 200
    }

    handle /repo/* {
        root * /var/www/html
        try_files * /repo/placeholder.html
        file_server
    }
}

:80 {
    import site
}

http://am-d-model.eu {
    import site
}

am-d-model.eu {
    import site
}
