{
    admin off
}

(site) {
    @landing {
        path / /contact* /about*
    }
    handle /_app/* {
        reverse_proxy site:3000
    }
    handle @landing {
        reverse_proxy site:3000 {
            health_uri /health
            health_interval 30s
            health_timeout 10s
            health_status 200
        }
    }
    handle /repo* {
        uri strip_prefix /repo
        reverse_proxy repo-placeholder:80
    }
}

:80 {
    import site
}

http://am-d-model.eu {
    import site
}

am-d-model.eu {
    import site
}
